/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
/* :focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

/* table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
  /* overflow-x: hidden; */
  /* box-sizing: border-box; */
.App {
  /* min-height: 100vh; */
  /* overflow-x: hidden; */
  /* max-width: 100vh; */
}
/* .body{
  max-width: 90%;
} */

html {
  /* overflow-wrap: break-word; */
  /* overflow-x: hidden; */
  /* overscroll-behavior: contain; */
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
 /* overflow-x: hidden; */



.spinner{
  height: 60px;
  width: 60px;
}


.bluebox {
  background-color: blue;
}

.redbox {
  background-color: red;
}

.dark {
  background-color: #2A303C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-image {
  height: 200px;
  width: 200px;
  background-color: white;
  overflow: visible;
} 



.background-image {
  color: white;
  border-radius: solid white 10px;
}



.icn-logo {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 4px;
}

.main-nav a {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}



.home a {
  border-color: transparent;
}

.icon-images {

  height: 90px;
  display: block;
  text-align: center;
 display: inline-block;
 margin:10px;

} 
.blueborder {
  border: solid 9px blue;
}
.redborder {
  border: solid 9px red;
}
.yellowborder {
  border: solid 9px yellow;
}

.greenborder {
  border: solid 9px green;
}


.image-box {
  /* padding:10px; */
  display: inline-block;
}

.image-title{
  width: 140px;
  height: 125px;
  padding-top: 5px;
  padding-bottom: 2px;
}

.activeSelected {
  color: 'black'
}

nav a.active{
  text-decoration: none;
  font-weight: bold;
  filter: brightness(80%);
  
}

.border-bottom{
  border-bottom: 5px solid white;
}


.crop {
  height: 300px;
  width: 400px;
  overflow: hidden;
 }
 .crop img {
  height: auto;
  width: 400px;
  background-size: cover;
 }


 
@media screen and (max-width: 600px) {
.App{
  margin:0;
  padding:0;
}
.profile-card{
  margin:0;
  padding:0;
}
.main-nav{
  margin:0;
  padding:0;
}
body {
  margin:0;
  padding:0;
}

}


/* @media screen and (min-width: 1280px) {
  .profile-card{
  width: 511px;
  height:600px; 
  }

}

@media screen and (min-width: 1500px) {
  .profile-card{
  width: 700px;
  height:600px; 
  padding: 100px;
  }
} 

.previewButton {
  visibility: hidden;
}

@media screen and (min-width: 1200px) {
  .previewButton {
    visibility: visible;
  }
}  */

/* @media screen and (min-width: 200px) and (max-width: 1000px){
  .works-buttons{
  width: 100px;
  height: 20px;
  }
} */

 /* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .profile-card {
    background-color: #bada55;
    width: 300px;
    height:600px; 
    border: 10px solid white;

  }

  .route-box {
    max-width: 90%;
     
    border: 10px solid white;
  }
}  */