body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.icn-logo {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 4px;
}

.main-nav a {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

/* .container {
  width: 95%;
  max-width: 780px;
  padding-bottom: 2em;
  margin: 0 auto 2em;
  background: gray;
  border-radius: .5em;
  box-shadow: 0 3px rgba(0, 0, 0, .1);
  overflow: hidden;
} */
.main-content {
  /* padding: 1em 2em; */
}

.home a {
  border-color: transparent;
}

.icon-images {

  height: 90px;
  display: block;
  text-align: center;
 display: inline-block;
 margin:10px;

} 

.image-box {
  /* padding:10px; */
  display: inline-block;
}

.image-title{
  width: 140px;
  height: 125px;
  padding-top: 5px;
  padding-bottom: 2px;
}

.activeSelected {
  color: 'black'
}

nav a.active{
  text-decoration: none;
  font-weight: bold;
  filter: brightness(80%);
  
}

.border-bottom{
  border-bottom: 5px solid white;
}
/* 
nav a.active:hover {
  color: none;
}

ul li.active{
  color: red;
} */

.crop {
  height: 300px;
  width: 400px;
  overflow: hidden;
 }
 .crop img {
  height: auto;
  width: 400px;
  background-size: cover;
 }